
@{
    ViewBag.Title = "Index";
}

<a href="page1" class="navbar-brand">Page 1</a>
<a href="page2" class="navbar-brand">Page 2</a>
<a href="page3" class="navbar-brand">Page 3</a>
<div data-ng-app="ApplicationModule">
    <div data-ng-view></div>
</div>
@section scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App/module.js")"></script>
    <script src="@Url.Content("~/App/Services/homeService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/App/Controllers/homeController.js")" type="text/javascript"></script>

}


